<h1>Research Guideline</h1>
<p><b>Use this Research Guideline to help guide your family research.  Once you’ve entered a bit of data, then you can use it to prompt the records for which you should find.  Here’s how to get started:</b></p>
<ol>
  <li>Enter your ancestor’s first and last name (this is just for your future use, it is not a search field).</li>
  <li>Enter the estimated birth year (this is required), locations in which your ancestor lived, and then the estimated death year.</li>
  <li>The Research Guideline will then be generated for you.</li>
  <li>Just use your browser's Print function to print your customized Research Guideline to help you start your research.</li>
</ol>
<%= form_tag checklists_path, :class => "form-horizontal", :role => "form"  do %>
  <% if @checklist.errors.any? -%>
    <div id="error_explanation">
      <ul>
      <% @checklist.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end -%>
      </ul>
    </div>
  <% end -%>
  <div class="form-group">
    <label class="col-sm-4 control-label">Name:</label>
    <div class="col-sm-4">
      <%= text_field_tag "name", @checklist.name, :class => "form-control", :placeholder => "First and Last Name" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Est. Birth Year:</label>
    <div class="col-sm-1">
      <%= text_field_tag "birth_year", '', :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Est. Death Year:</label>
    <div class="col-sm-1">
      <%= text_field_tag "death_year", '', :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">U.S. States Lived In:</label>
    <div class="col-md-2">
      <%= select_tag "state_1", options_from_collection_for_select(State.all, "code", "name"), :prompt => "Select ...", :class => "form-control" %>
    </div>
  </div>
  <% for i in 2..NUM_LIVED_IN_STATES -%>
    <div class="form-group">
      <div class="col-sm-offset-4 col-md-2">
        <%= select_tag "state_#{i}", options_from_collection_for_select(State.all, "code", "name"), :prompt => "Select ...", :class => "form-control" %>
      </div>
    </div>
  <% end -%>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-2">
      <button class="btn btn-primary btn-lg right" type="submit">Generate</button>
    </div>
  </div>
<% end -%>