<h1>Research Checklist</h1>
<%= form_tag checklists_path, :class => "form-horizontal", :role => "form"  do %>
  <% if @checklist.errors.any? -%>
    <div id="error_explanation">
      <ul>
      <% @checklist.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end -%>
      </ul>
    </div>
  <% end -%>
  <div class="form-group">
    <label class="col-sm-4 control-label">First and Middle Name:</label>
    <div class="col-sm-4">
      <%= text_field_tag "first_middle_name", @checklist.first_middle_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Last Name:</label>
    <div class="col-sm-4">
      <%= text_field_tag "last_name", '', :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Est. Birth Year:</label>
    <div class="col-sm-1">
      <%= text_field_tag "birth_year", '', :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Est. Death Year:</label>
    <div class="col-sm-1">
      <%= text_field_tag "death_year", '', :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">U.S. States Lived In:</label>
    <div class="col-md-2">
      <%= select_tag "state_1", options_from_collection_for_select(State.all, "code", "name"), :prompt => "Select ...", :class => "form-control" %>
    </div>
  </div>
  <% for i in 2..NUM_LIVED_IN_STATES -%>
    <div class="form-group">
      <div class="col-sm-offset-4 col-md-2">
        <%= select_tag "state_#{i}", options_from_collection_for_select(State.all, "code", "name"), :prompt => "Select ...", :class => "form-control" %>
      </div>
    </div>
  <% end -%>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-2">
      <button class="btn btn-primary btn-lg right" type="submit">Generate</button>
    </div>
  </div>
<% end -%>