<div class="panel panel-primary">
  <div class="panel-heading">
    <h2><%= @checklist.name %></h2>
    <p>Born:&nbsp;<%= @checklist.birth_year %></p>
    <p>Died:&nbsp;<%= @checklist.death_year %></p>
    <p>Resident of <%= @checklist.lived_in %></p>
  </div>
  <div class="panel-content">
    <% @checklist.items.each do |item| -%>
      <div class="row">
        <div class="col-lg-10 checklist-row">
          <span class="glyphicon glyphicon-unchecked"></span>
          <span class="checklist-item"><%= item[:name] %></span>
          <div class="checklist-line">
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>