<div class="panel panel-info">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6 panel-name">
        <h2><%= @checklist.name %></h2>
        <table class="table table-condensed" id="vitals">
          <tr>
            <td>Born</td>
            <td><%= @checklist.birth_year %></td>
            <td>Location</td>
            <td>___________________________________________</td>
          </tr>
          <tr>
            <td>Married</td>
            <td>____</td>
            <td>Location</td>
            <td>___________________________________________</td>
          </tr>
          <tr>
            <td>Died</td>
            <td><%= @checklist.death_year %></td>
            <td>Location</td>
            <td>___________________________________________</td>
          </tr>
        </table>
        <p>Resident of <%= @checklist.lived_in %></p>
        <p class="inset">Parents:&nbsp;_______________________</p>
        <p class="inset">Spouse:&nbsp;_______________________</p>
        <p class="inset">Children:&nbsp;_______________________</p>
      </div>
      <div class="col-md-3 pull-right" id="resources">
        <ul>
          <li>          
            <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Ancestry
           </li> 
          <li>          
            <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Family Search
           </li> 
          <li>          
            <span class="glyphicon glyphicon-unchecked"></span>&nbsp;Google
           </li> 
          <li>          
            <span class="glyphicon glyphicon-unchecked"></span>&nbsp;________________
           </li> 
          <li>          
            <span class="glyphicon glyphicon-unchecked"></span>&nbsp;_________________
           </li> 
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-lg-10 checklist-group">
      <span class="checklist-group-name">Vital Records</span>
    </div>
    <% @checklist.items[1][:vital_records].each do |item| -%>
      <div class="row">
        <div class="col-lg-10 checklist-row">
          <span class="glyphicon glyphicon-unchecked"></span>
          <span class="checklist-item"><%= item[:name] %></span>
          <div class="checklist-line">
          </div>
        </div>
      </div>
    <% end -%>
    <div class="col-lg-10 checklist-group">
      <span class="checklist-group-name">U.S. Census, State Census and Military Records</span>
    </div>
    <% @checklist.items[0].each do |item| -%>
      <% unless item[:group] == "Vital Records" or item[:group] == "Other Records" or item[:group] == "To Do Records" -%>
        <div class="row">
          <div class="col-lg-10 checklist-row">
            <span class="glyphicon glyphicon-unchecked"></span>
            <span class="checklist-item"><%= item[:name] %></span>
            <div class="checklist-line">
            </div>
          </div>
        </div>
      <% end -%>
    <% end -%>
    <div class="col-lg-10 checklist-group">
      <span class="checklist-group-name">Other Records</span>
    </div>
    <% @checklist.items[1][:other_records].each do |item| -%>
      <div class="row">
        <div class="col-lg-10 checklist-row">
          <span class="glyphicon glyphicon-unchecked"></span>
          <span class="checklist-item"><%= item[:name] %></span>
          <div class="checklist-line">
          </div>
        </div>
      </div>
    <% end -%>
    <div class="col-lg-10 checklist-group">
      <span class="checklist-group-name">To Do</span>
    </div>
    <% @checklist.items[1][:to_do_records].each do |item| -%>
      <div class="row">
        <div class="col-lg-10 checklist-row">
          <span class="glyphicon glyphicon-unchecked"></span>
          <span class="checklist-item"><%= item[:name] %></span>
          <div class="checklist-line">
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>